# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Voxelfield.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\qhdwi\Projects\Programming\Unity\Voxelfield\.idea\.idea.Voxelfield\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
